PIHOLE_DNS_1={{ PIHOLE_DNS_1 }}
PIHOLE_DNS_2={{ PIHOLE_DNS_2 }}
PIHOLE_DNS_3={{ PIHOLE_DNS_3 }}
PIHOLE_DNS_4={{ PIHOLE_DNS_4 }}
QUERY_LOGGING={{ PIHOLE_QUERY_LOGGING }}
CACHE_SIZE={{ PIHOLE_CACHE_SIZE }}
BLOCKING_ENABLED=true
WEBUIBOXEDLAYOUT={{ PIHOLE_WEBUI_BOXED_LAYOUT }}
WEBTHEME={{ PIHOLE_WEBTHEME }}
WEBPASSWORD=
{% if not PIHOLE_DOCKERIZED %}
PIHOLE_INTERFACE={{ PIHOLE_INTERFACE }}
INSTALL_WEB_SERVER={{ PIHOLE_INSTALL_WEB_SERVER }}
INSTALL_WEB_INTERFACE={{ PIHOLE_INSTALL_WEB_INTERFACE }}
LIGHTTPD_ENABLED={{ PIHOLE_LIGHTTPD_ENABLED }}
DNS_FQDN_REQUIRED=true
DNS_BOGUS_PRIV=true
DNSMASQ_LISTENING=local
{% endif %}
