.vagrant/
*.retry
.DS_Store

assets/*
!assets/README.md
!assets/default.*
.external_roles/

*inventory.yml
!default.inventory.yml
*inventory.ini
default.inventory.ini
*vars.yml
!default.vars.yml
*playbook.yml
!default.playbook.yml
