---
# This playbook was originally authored by Jeff Geerling
# Source: https://github.com/geerlingguy/pi-cluster/blob/master/upgrade.yml

- name: Upgrade all nodes and reboot
  hosts: all
  become: true

  tasks:
    - name: Upgrade all packages (Debian).
      apt:
        update_cache: true
        upgrade: dist
      when: ansible_os_family == 'Debian'

    - name: Upgrade all packages (RedHat).
      dnf:
        name: '*'
        state: latest
        update_cache: true
      when: ansible_os_family == 'RedHat'

    - name: Check if a reboot is required.
      stat:
        path: /var/run/reboot-required
      register: reboot_required_file

    - name: Reboot the server (if required).
      reboot:
      when: reboot_required_file.stat.exists == true

    - name: Remove dependencies that are no longer required (Debian).
      apt:
        autoremove: true
      when: ansible_os_family == 'Debian'

    - name: Remove dependencies that are no longer required (RedHat).
      dnf:
        autoremove: true
      when: ansible_os_family == 'RedHat'
