---
- name: Deploy
  hosts: all

  vars_files:
    - vars_file.yml

  roles:
    - role: base
    - role: nginx
    - role: transmission

  tasks:
    - name: Print link to homepage
      debug:
        msg: ' Homepage: http://{{ ansible_host }} '
