services:
  {{ PORTAINER_DOCKER_SERVICE_NAME }}:
    container_name: {{ PORTAINER_DOCKER_CONTAINER_NAME }}
    image: portainer/portainer-ce:{{ PORTAINER_DOCKER_VERSION }}
    restart: always
    networks:
      - default
      - portainer_nginx_network
{% if (PORTAINER_DOCKER_USE_NGINX is not defined or PORTAINER_DOCKER_USE_NGINX is not sameas(true))
   or (PORTAINER_DOCKER_EDGE_AGENTS_PORT is defined and PORTAINER_DOCKER_EDGE_AGENTS_PORT is not sameas(false)) %}
    ports:
{% if PORTAINER_DOCKER_USE_NGINX is not defined or PORTAINER_DOCKER_USE_NGINX is not sameas(true) %}
      - {{ PORTAINER_DOCKER_HTTP_PORT }}:9443
{% endif %}
{% if PORTAINER_DOCKER_EDGE_AGENTS_PORT is defined and PORTAINER_DOCKER_EDGE_AGENTS_PORT is not sameas(false) %}
      - {{ PORTAINER_DOCKER_EDGE_AGENTS_PORT }}:8000
{% endif %}
{% endif %}
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - portainer_data:/data

networks:
  default:
    name: portainer_network
  portainer_nginx_network:
    name: {{ PORTAINER_DOCKER_NETWORK_NAME }}
    external: true

volumes:
  portainer_data:
    name: portainer_data
