[Unit]
Description=borgmatic backup
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
User={{ USERNAME }}

LockPersonality=true
MemoryDenyWriteExecute=yes
NoNewPrivileges=yes
PrivateDevices=yes
PrivateTmp=yes
ProtectClock=yes
ProtectControlGroups=yes
ProtectHostname=yes
ProtectKernelLogs=yes
ProtectKernelModules=yes
ProtectKernelTunables=yes
RestrictAddressFamilies=AF_UNIX AF_INET AF_INET6 AF_NETLINK
RestrictNamespaces=yes
RestrictRealtime=yes
RestrictSUIDSGID=yes
SystemCallArchitectures=native
SystemCallFilter=@system-service
SystemCallErrorNumber=EPERM
ProtectSystem=strict
ReadWritePaths=-{{ BORG_BACKUP_PATH }}
TemporaryFileSystem=/home/{{ BORG_USER }}:ro
BindPaths=-/home/{{ BORG_USER }}/.cache/borg -/home/{{ BORG_USER }}/.config/borg -/home/{{ BORG_USER }}/.borgmatic
BindReadOnlyPaths=-/home/{{ BORG_USER }}/.ssh

CapabilityBoundingSet=CAP_DAC_READ_SEARCH CAP_NET_RAW

Nice=19
CPUSchedulingPolicy=batch
IOSchedulingClass=best-effort
IOSchedulingPriority=7
IOWeight=100

Restart=no
LogRateLimitIntervalSec=0

ExecStartPre=sleep 1m
ExecStart=/usr/bin/borgmatic --verbosity 2 --syslog-verbosity 1