---
version: '3'

services:
  gitea:
    image: gitea/gitea:latest-rootless
    container_name: gitea_rootless
    restart: always
    environment:
      USER_UID: {{ GITEA_ID }}
      USER_GID: {{ GITEA_ID }}
      GITEA__database__DB_TYPE: mysql
      GITEA__database__HOST: {{ SERVER_IP }}:{{ MARIADB_PORT }}
      GITEA__database__NAME: {{ GITEA_DB_NAME }}
      GITEA__database__USER: {{ GITEA_DB_USER }}
      GITEA__database__PASSWD: {{ GITEA_DB_PASSWORD }}
    user: '{{ GITEA_ID }}'
    networks:
      - gitea_network
      - gitea_nginx_network
    ports:
      - {{ GITEA_PORT }}:3000
      - 2222:2222
    volumes:
      - {{ GITEA_DATA_PATH }}:/var/lib/gitea
      - {{ GITEA_CONFIG_PATH }}:/etc/gitea
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro

  runner:
    image: gitea/act_runner:latest
    container_name: gitea_act_runner
    restart: always
    depends_on:
      - gitea
    environment:
      CONFIG_FILE: /config.yml
      GITEA_INSTANCE_URL: http://{{ SERVER_IP }}:{{ GITEA_PORT }}
    networks:
      - gitea_network
    volumes:
      - ./act_config.yml:/config.yml
      - {{ ACT_DATA_PATH }}:/data
      - /var/run/docker.sock:/var/run/docker.sock

networks:
  gitea_network:
    ipam:
      config:
        - subnet: {{ GITEA_DOCKER_SUBNET }}
  gitea_nginx_network:
    name: {{ NGINX_DOCKER_NETWORK_NAME }}
    external: true
