---
services:
{% if GITEA_DEPLOY %}
  {{ GITEA_DOCKER_SERVICE_NAME }}:
    image: gitea/gitea:{{ GITEA_DOCKER_VERSION }}-rootless
    container_name: {{ GITEA_CONTAINER_NAME }}
    restart: always
{% if GITEA_DB_DEPLOY %}
    depends_on:
      - {{ GITEA_DOCKER_DB_SERVICE_NAME }}
{% endif %}
    environment:
      USER_UID: {{ GITEA_ID }}
      USER_GID: {{ GITEA_ID }}
      GITEA__database__DB_TYPE: mysql
      GITEA__database__HOST: {{ GITEA_DB_HOST }}:{{ GITEA_DB_PORT }}
      GITEA__database__NAME: {{ GITEA_DB_NAME }}
      GITEA__database__USER: {{ GITEA_DB_USER }}
      GITEA__database__PASSWD: '{{ GITEA_DB_PASSWORD }}'
    user: '{{ GITEA_ID }}'
    networks:
      - gitea_network
      - {{ ACT_DOCKER_NETWORK }}
      - gitea_nginx_network
    ports:
      - {{ GITEA_PORT }}:{{ GITEA_PORT }}
      - 2222:2222
    volumes:
      - {{ GITEA_DATA_PATH }}:/var/lib/gitea
      - {{ GITEA_CONFIG_PATH }}:/etc/gitea
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro

{% if GITEA_DB_DEPLOY %}
  {{ GITEA_DOCKER_DB_SERVICE_NAME }}:
    image: mariadb:{{ GITEA_DOCKER_MARIADB_VERSION }}
    container_name: {{ GITEA_DB_CONTAINER_NAME }}
    restart: always
    command: --transaction-isolation=READ-COMMITTED --log-bin=binlog --binlog-format=ROW
    environment:
      MARIADB_ROOT_PASSWORD: '{{ GITEA_DB_ROOT_PASSWORD }}'
      MARIADB_DATABASE: {{ GITEA_DB_NAME }}
      MARIADB_USER: {{ GITEA_DB_USER }}
      MARIADB_PASSWORD: '{{ GITEA_DB_PASSWORD }}'
    networks:
      - gitea_network
    volumes:
      - {{ DISK_DATABASE_PATH }}/gitea:/var/lib/mysql
{% endif %}
{% endif %}

{% if ACTRUNNER_DEPLOY %}
  {{ ACT_DOCKER_SERVICE_NAME }}:
    image: gitea/act_runner:latest
    container_name: {{ ACT_CONTAINER_NAME }}
    restart: always
{% if GITEA_DEPLOY and ACTRUNNER_DEPLOY %}
    depends_on:
      - {{ GITEA_DOCKER_SERVICE_NAME }}
{% endif %}
    environment:
      CONFIG_FILE: /config.yml
      GITEA_INSTANCE_URL: http://{{ GITEA_IP }}:{{ GITEA_PORT }}
    networks:
      - {{ ACT_DOCKER_NETWORK }}
    volumes:
      - ./act_config.yml:/config.yml
      - {{ ACT_DATA_PATH }}:/data
      - /var/run/docker.sock:/var/run/docker.sock
{% endif %}

networks:
  gitea_network:
  {{ ACT_DOCKER_NETWORK }}:
  gitea_nginx_network:
    name: {{ DOCKER_NETWORK_NAME }}
    external: true
