server {
    server_name {{ GITEA_DOMAIN }};
    listen 80;
    return 301 https://$host$request_uri;

    server_tokens off;

    access_log /var/log/nginx/gitea-access.log;
    error_log /var/log/nginx/gitea-error.log;
}


server {
    listen 443 ssl;
    server_name {{ GITEA_DOMAIN }};

    server_tokens off;

    location / {
        proxy_pass http://{{ (GITEA_DOCKERIZED) | ternary(GITEA_DOCKER_SERVICE_NAME, 'localhost')}}:{{ GITEA_PORT }}/;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
    }

    include /etc/nginx/snippets/ssl-params.conf;
    include /etc/nginx/snippets/headers.conf;

    access_log /var/log/nginx/gitea-access.log;
    error_log /var/log/nginx/gitea-error.log;
}
