---
services:
  {{ NEXTCLOUD_DOCKER_SERVICE_NAME }}:
    image: nextcloud:{{ NEXTCLOUD_DOCKER_VERSION }}
    container_name: {{ NEXTCLOUD_CONTAINER_NAME }}
    restart: always
    depends_on:
      - {{ NEXTCLOUD_DOCKER_DB_SERVICE_NAME }}
      - redis
    environment:
      REDIS_HOST: redis
      MYSQL_HOST: {{ NEXTCLOUD_DOCKER_DB_SERVICE_NAME }}
      MYSQL_DATABASE: {{ NEXTCLOUD_DB_NAME }}
      MYSQL_USER: {{ NEXTCLOUD_DB_USER }}
      MYSQL_PASSWORD: '{{ NEXTCLOUD_DB_PASSWORD }}'
      OVERWRITEPROTOCOL: https
{% if NEXTCLOUD_DOCKER_WEBSERVER_PORT is defined and NEXTCLOUD_DOCKER_WEBSERVER_PORT is not sameas(false) %}
    ports:
      - {{ NEXTCLOUD_DOCKER_WEBSERVER_PORT }}:{{ NEXTCLOUD_PORT }}/tcp
{% endif %}
    networks:
      - nextcloud_network
      - nextcloud_redis_network
      - nextcloud_nginx_network
    volumes:
      - {{ NEXTCLOUD_DATA_PATH }}:/var/www/html
      - {{ NEXTCLOUD_DOCKER_PATH }}/ports.conf:/etc/apache2/ports.conf:ro
      - {{ NEXTCLOUD_DOCKER_PATH }}/000-default.conf:/etc/apache2/sites-enabled/000-default.conf:ro

  redis:
    image: redis:alpine
    restart: always
    networks:
      - nextcloud_redis_network
    volumes:
      - redis_volume:/data

  {{ NEXTCLOUD_DOCKER_DB_SERVICE_NAME }}:
    image: mariadb:{{ NEXTCLOUD_DOCKER_MARIADB_VERSION }}
    container_name: {{ NEXTCLOUD_DB_CONTAINER_NAME }}
    restart: always
    command: --transaction-isolation=READ-COMMITTED --log-bin=binlog --binlog-format=ROW
    environment:
      MARIADB_ROOT_PASSWORD: '{{ NEXTCLOUD_DB_ROOT_PASSWORD }}'
      MARIADB_DATABASE: {{ NEXTCLOUD_DB_NAME }}
      MARIADB_USER: {{ NEXTCLOUD_DB_USER }}
      MARIADB_PASSWORD: '{{ NEXTCLOUD_DB_PASSWORD }}'
    networks:
      - nextcloud_network
    volumes:
      - {{ DISK_DATABASE_PATH }}/nextcloud:/var/lib/mysql

networks:
  nextcloud_network:
  nextcloud_redis_network:
  nextcloud_nginx_network:
    name: {{ NEXTCLOUD_DOCKER_NETWORK_NAME }}
    external: true

volumes:
  redis_volume:
