---
services:
  {{ JELLYFIN_DOCKER_SERVICE_NAME }}:
    image: jellyfin/jellyfin:{{ JELLYFIN_DOCKER_VERSION }}
    container_name: {{ JELLYFIN_DOCKER_CONTAINER_NAME }}
    hostname: {{ JELLYFIN_DOCKER_HOSTNAME }}
    restart: unless-stopped
    user: {{ jellyfin_uid }}:{{ jellyfin_gid}}
    networks:
      - jellyfin_nginx_network
{% if (JELLYFIN_DOCKER_USE_NGINX is not defined or JELLYFIN_DOCKER_USE_NGINX is not sameas(true))
   or (JELLYFIN_DOCKER_DISCOVERY_PORT is defined and JELLYFIN_DOCKER_DISCOVERY_PORT is not sameas(false)) %}
    ports:
{% if JELLYFIN_DOCKER_USE_NGINX is not defined or JELLYFIN_DOCKER_USE_NGINX is not sameas(true) %}
      - {{ JELLYFIN_DOCKER_HTTP_PORT }}:8096/tcp
{% endif %}
{% if JELLYFIN_DOCKER_DISCOVERY_PORT is defined and JELLYFIN_DOCKER_DISCOVERY_PORT is not sameas(false) %}
      - {{ JELLYFIN_DOCKER_DISCOVERY_PORT }}:7359/udp
{% endif %}
{% endif %}
    volumes:
      - {{ JELLYFIN_DOCKER_CONFIG_PATH }}:/config
      - {{ JELLYFIN_DOCKER_CACHE_PATH }}:/cache
{% for item in JELLYFIN_DOCKER_MEDIA_PATH %}
      - type: bind
        source: {{ item.source }}
        target: {{ item.target }}
        read_only: {{ item.read_only }}
        bind:
          create_host_path: false
{% endfor %}

networks:
  jellyfin_nginx_network:
    name: {{ JELLYFIN_DOCKER_NETWORK_NAME }}
    external: true