---
services:
  {{ JELLYFIN_DOCKER_SERVICE_NAME }}:
    image: jellyfin/jellyfin:{{ JELLYFIN_DOCKER_VERSION }}
    container_name: {{ JELLYFIN_DOCKER_CONTAINER_NAME }}
    hostname: {{ JELLYFIN_DOCKER_HOSTNAME }}
    restart: unless-stopped
    environment:
      - JELLYFIN_CONFIG_DIR={{ JELLYFIN_DOCKER_CONFIG_DEST }}
      - JELLYFIN_DATA_DIR={{ JELLYFIN_DOCKER_DATA_DEST }}
      - JELLYFIN_CACHE_DIR={{ JELLYFIN_DOCKER_CACHE_DEST }}
      - JELLYFIN_LOG_DIR={{ JELLYFIN_DOCKER_LOG_DEST }}
    user: {{ jellyfin_uid }}:{{ jellyfin_gid}}
{% if (JELLYFIN_DOCKER_HARDWARE_TRANSCODING_ENABLE | default(false) | bool) %}
    group_add:
{% for item in jellyfin_transcode_group_add %}
      - "{{ item }}"
{% endfor %}
    security_opt:
      - systempaths=unconfined
      - apparmor=unconfined
{% endif %}
    networks:
      - jellyfin_nginx_network
{% if (JELLYFIN_DOCKER_USE_NGINX is not defined or JELLYFIN_DOCKER_USE_NGINX is not sameas(true))
   or (JELLYFIN_DOCKER_DISCOVERY_PORT is defined and JELLYFIN_DOCKER_DISCOVERY_PORT is not sameas(false)) %}
    ports:
{% if JELLYFIN_DOCKER_USE_NGINX is not defined or JELLYFIN_DOCKER_USE_NGINX is not sameas(true) %}
      - {{ JELLYFIN_DOCKER_HTTP_PORT }}:8096/tcp
{% endif %}
{% if JELLYFIN_DOCKER_DISCOVERY_PORT is defined and JELLYFIN_DOCKER_DISCOVERY_PORT is not sameas(false) %}
      - {{ JELLYFIN_DOCKER_DISCOVERY_PORT }}:7359/udp
{% endif %}
{% endif %}
{% if (JELLYFIN_DOCKER_HARDWARE_TRANSCODING_ENABLE | default(false) | bool) and jellyfin_transcode_platform in ['intel', 'amd'] %}
    devices:
      - /dev/dri:/dev/dri
{% endif %}
{% if (JELLYFIN_DOCKER_HARDWARE_TRANSCODING_ENABLE | default(false) | bool) and jellyfin_transcode_platform == 'rk' and jellyfin_transcode_devices is defined and (jellyfin_transcode_devices | length > 0) %}
    devices:
{% for item in jellyfin_transcode_devices %}
      - {{ item }}:{{ item }}
{% endfor %}
{% endif %}
    volumes:
      - {{ JELLYFIN_DOCKER_CONFIG_PATH }}:{{ JELLYFIN_DOCKER_CONFIG_DEST }}:Z
      - {{ JELLYFIN_DOCKER_DATA_PATH }}:{{ JELLYFIN_DOCKER_DATA_DEST }}:Z
      - {{ JELLYFIN_DOCKER_CACHE_PATH }}:{{ JELLYFIN_DOCKER_CACHE_DEST }}:Z
      - {{ JELLYFIN_DOCKER_LOG_PATH }}:{{ JELLYFIN_DOCKER_LOG_DEST }}:z
{% for item in JELLYFIN_DOCKER_MEDIA_PATH %}
      - type: bind
        source: {{ item.source }}
        target: {{ item.target }}
        read_only: {{ item.read_only }}
        bind:
          create_host_path: false
{% endfor %}
{% if JELLYFIN_DOCKER_TRANSCODE_TMPFS_ENABLE | default(false) | bool %}
    tmpfs:
      - {{ JELLYFIN_DOCKER_TRANSCODES_DEST }}:size={{ JELLYFIN_DOCKER_TRANSCODE_TMPFS_SIZE }},uid={{ jellyfin_uid }},gid={{ jellyfin_gid }},mode=0750,noexec,nosuid,nodev
{% endif %}

networks:
  jellyfin_nginx_network:
    name: {{ JELLYFIN_DOCKER_NETWORK_NAME }}
    external: true
