# Group for acces to mounted disk
Match Group {{ SHARE_DISK_GROUP }}
        PasswordAuthentication yes
        ChrootDirectory /mnt/{{ DISK_LABEL }}
        ForceCommand internal-sftp


# User for share public folder
Match User {{ SHARE_PUBLIC_USER }}
        PasswordAuthentication yes
        ChrootDirectory /mnt/{{ DISK_LABEL }}/share
        ForceCommand internal-sftp -d /files
